<header>
    <!-- <a href="#"><h1 class="site-title"><i class="far fa-hand-lizard"></i> tweeter</h1></a> -->
    <img alt="clueless closet" class="site-title" src="images/site-title.png"/>

    <!-- <nav class="navbar">
    <ul class="navlist">
        <li class="navitem navlink active"><a href="#">Home</a></li>
        <li class="navitem navlink"><a href="#">Trending</a></li>
        <li class="navitem navlink"><a href="#">People</a></li>
        <li class="navitem navbar-search">
        <input type="text" id="navbar-search-input" placeholder="Search...">
        <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
        </li>
    </ul>
    </nav> -->
</header>