      <article class="image-box">
        <div class="image">
          <img class="shirt-image" src="{{url}}" alt="Image of Padme's shirt">
        </div>
        <button class="btn" onclick="prev()">Previous</button>
        <button class="btn" onclick="next()">Next</button>
      </article>