<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <title>Clueless Closet</title>

    <!-- This is a 3rd-party stylesheet to incorporate the font family to be used for this page ("Roboto"). -->
    <!--link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet"-->

    <!-- This 3rd-party stylesheet incorporates SVG icons from Font Awesome: http://fontawesome.com/ -->
    <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous"-->

    <link rel="stylesheet" href="style.css" media="screen">

    <script src="index.js" charset="utf-8" defer></script>
</head>
<body>
    <header>
      <!-- <a href="#"><h1 class="site-title"><i class="far fa-hand-lizard"></i> tweeter</h1></a> -->
      <img alt="clueless closet" class="site-title" src="images/site-title.png"/>

      <!-- <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="#">Home</a></li>
          <li class="navitem navlink"><a href="#">Trending</a></li>
          <li class="navitem navlink"><a href="#">People</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>
          </li>
        </ul>
      </nav> -->
    </header>

    <main class="closet-container">

      <article class="shirts">
        <div class="shirt-content">
          <p class="shirt-text">
            Your new outfit!
          </p>
        </div>
      </article>

      {{shirt}}

      {{bottoms}}

    </main>
</body>
</html>